/pom.xml
/hw11.iml
/.idea/
/target/
/src/main/java/Q1/out/production/Q1/Q1/
/src/main/java/Q1/.idea/
/src/main/java/Q1/Q1.iml
/src/main/java/Q2/.idea/
/src/main/java/Q2/out/production/Q2/Q2/
/src/main/java/Q2/Q2.iml
/src/main/java/Q3/.idea/
/src/main/java/Q3/out/production/Q3/Q3/
/src/main/java/Q3/Q3.iml
/src/main/java/Q4/.idea/
/src/main/java/Q4/out/production/Q4/Q4/
/src/main/java/Q4/Q4.iml
